#section-header {
    background-color: blue;
    color: white;
    padding: 5px;
}

#accordion {
    width: 400px;
    margin: auto;
    transition: background-color 1s ease-out;
}

#section {
    overflow: hidden;
    transition: max-height .7s ease-out;
}